*.o
Makefile
Makefile.am.test
Makefile.in
*.lo
*.la
*.so
.deps
.libs
*.log
aclocal.m4
artefact/artefact
artefact/run.sh
artefact/y.output
autom4te.cache/
config.guess
config.status
config.sub
configure
depcomp
etc/artefact.conf
etc/artefact.conf.example
etc/artefact
gentoo/init.d/artefact
gentoo/init.d/feed
gentoo/init.d/pidiod
install-sh
lib/lex.yy.cc
lib/y.tab.cc
lib/y.tab.h
libtool
ltmain.sh
lua/Makefile.am.lua.test
missing
oftdevproxy/oftdevproxy
oftdevproxy/test/
pidiod/pidiod
stamp-h1
sysconfig.h
sysconfig.h.in
